.tx-10 {
    font-size: 10px;
}
.page-section-ptb {
    padding: 40px 0;
}

.no-title .portfolio-item .portfolio-overlay{
    background: rgba(0,0,0,0.5);
    height: 55px;
    position: absolute;
    bottom: 0;
}

.isotope.columns-4 .portfolio-item .portfolio-overlay h4 {
    line-height: 36px;
    color: #fff;
}

.no-title .portfolio-item .portfolio-overlay h4 a,
.no-title .portfolio-item .portfolio-overlay span,
.no-title .portfolio-item .portfolio-overlay p{
    color: #fff;
}
.page-title {
    padding-top: 100px;
    padding-bottom: 50px;
}

.ft-center {
    text-align: center;
}

.mega-menu .menu-logo img,
.mega-menu.desktopTopFixed .menu-list-items .menu-logo > li > a img {
    margin-top: 20px;
    height: 20px;
}


.mega-menu .menu-logo > li {
    line-height: 60px;
}

.mega-menu .menu-links > li > a{
    padding: 0;
    line-height: 50px;
}

.menu-logo span{
/*    line-height: 40px; */
    color: #FFF;
    height: 30px;
    font-size: 14px;
}

.mega-menu .menu-logo{
    padding: 0;
}


.mega-menu  .drop-down-multilevel {
    margin-top: 10px;
}
.mega-menu .lang .drop-down-multilevel {
    max-width: 100px;
}

.mega-menu .search .drop-down-multilevel {
    margin-left: -230px;
    max-width: 250px;
/*    height: 50px!important;*/
}

/*
.mega-menu .search .drop-down-multilevel *{
    margin-top: -3px;
}
*/

.mega-menu .search .drop-down-multilevel li{
    height: 40px;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-left: 5px;
    padding-right: 0;
/*    height: 40px!important;*/
}
/*
.gsc-input-box,
.gsc-input-box-focus,
.gsc-input-box-hover{
    height: 30px!important;
}
.gsst_a {
    padding-top: 0!important;
}
#gs_tti50{
    padding: 0 3px;
    height: 40px!important;
}
*/


.gsc-control-cse
{
	padding:0px !important;
	border-width:0px !important;
}

form.gsc-search-box,table.gsc-search-box
{
	margin-bottom:0px !important;
}

.gsc-search-box .gsc-input
{
	padding:0px 4px 0px 6px !important;
}

#gsc-iw-id1
{
	border-width: 0px !important;
/*	height: auto !important;*/
    height: 42px;
    line-height: 42px;

	box-shadow:none !important;
}

#gs_tti50
{
	padding:0px !important;
}

#gsc-i-id1
{
	height:20px !important;
	padding:0px 3px!important;
	background:none !important;
	text-indent:0px !important;
}

.gsib_b
{
	display:none;
}

button.gsc-search-button
{
        display:block;
/*
        width:20px !important;
        height:20px !important;
*/
        border-width:0px !important;
        margin:0px !important;
/*        padding: 5px 1px 5px 8px !important;*/
        padding: 0 20px!important;
        outline:none;
        cursor:pointer;
        box-shadow:none !important;
        box-sizing: content-box !important;
    line-height: 40px;
}

.gsc-branding
{
	display:none !important;
}

.gsc-control-cse,#gsc-iw-id1
{
	background-color:transparent !important;
}
table.gsc-search-box td#gs_tti50{
    vertical-align: -webkit-baseline-middle!important;
}

.gsc-search-button-v2 svg {
    width: 15px;
    height: 15px;
}

table.gsc-search-box td{
    vertical-align:top!important;
}

.mobile-search table.gsc-search-box td{
    vertical-align:middle!important;
}

.advertise {
    margin: 50px 15px 0 15px;
}

.portfolio-item .portfolio-overlay{
    bottom: -160px;
}

.isotope-filters button {
    margin: 0;
    cursor: pointer;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 19px;
    background: none;
    color: #fff;
    font-weight: 400;
    border: none;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    line-height: 50px;
}

.isotope-filters button.active, .isotope-filters button:hover{
    background: none;
    color: #84ba3f;
}

.menu-bar .isotope-filters button img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.footer.black-bg {
    padding: 10px;
}

.process {
    border: 0;
}

.header-download-btn {
    padding: 0 10px!important;
    line-height: 30px!important;
    margin-right: 10px!important;
}

.pager {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background: #f6f7f8;
    border: 0px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin: 0 5px;
    color: #626262;
    border-radius: 50%;
}


@media (min-width: 993px) {
    .menu-bar .isotope-filters button img,
    .hideindesktop{
        display: none!important;
    }
    
}
@media (max-width: 992px) {
    .showindesktoponly{
        display: none !important;
    }
    
    .search-cart {
        line-height: 60px;
    }
    
    .isotope-filters button{
        color: #000;
    }
    .mega-menu .menu-logo > li {
        width: auto;
    }
    
    .page-title {
        padding-top: 50px;
    }
    
/*
    .header-download-btn {
        color: #000!important;
        margin-left: 15px!important;
        border: 2px solid #000!important;
    }
*/
}


